<div class="top-row ps-3 navbar navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de Ciudadanos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background: linear-gradient(to bottom, #800020, #4b002d); height: 100vh;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All" style="background-color: black; border-radius: 5px;">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Formulario de Registro
            </NavLink>
        </div>
    </nav>
</div>
