@page "/"
@inject HttpClient Http

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 style="color: #800020;">Ingreso de Datos</h3>
    <a href="/login" class="btn btn-outline-primary">Iniciar Sesión</a>
</div>

<form style="background-color: #f9f3f3; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="form-group">
        <label for="Nombre" style="color: #800020;">Nombre(s)</label>
        <input type="text" class="form-control" id="Nombre" style="border-color: #800020;" />

        <label for="Apellidos" style="color: #800020;">Apellidos</label>
        <input type="text" class="form-control" id="Apellidos" style="border-color: #800020;" />

        <label for="Edad" style="color: #800020;">Edad</label>
        <input type="number" class="form-control" id="Edad" style="border-color: #800020;" />

        <label for="Direccion" style="color: #800020;">Direccion</label>
        <input type="text" class="form-control" id="Direccion" style="border-color: #800020;" />

        <label for="Telefono" style="color: #800020;">Teléfono</label>
        <input type="number" class="form-control" id="Telefono" style="border-color: #800020;" />

        <label for="Correo" style="color: #800020;">Correo</label>
        <input type="email" class="form-control" id="Correo" style="border-color: #800020;" />

        <label for="Procedencia" style="color: #800020;">Lugar de procedencia</label>
        <input type="text" class="form-control" id="Procedencia" style="border-color: #800020;" />

        <label for="Dedicaba" style="color: #800020;">¿A qué se dedicaba?</label>
        <input type="text" class="form-control" id="Dedicaba" style="border-color: #800020;" />

        <label for="Habilidades" style="color: #800020;">¿A qué le gustaría dedicarse?</label>
        <input type="text" class="form-control" id="Habilidades" style="border-color: #800020;" />
    </div>

    <div class="form-group">
        <label for="Observaciones" style="color: #800020;">Observaciones</label>
        <textarea class="form-control" id="Observaciones" rows="3" style="border-color: #800020;"></textarea>
    </div>

    <br />
    <br />

    <button type="submit" class="btn btn-primary" style="background-color: #800020; border-color: #800020;">Submit</button>
</form>

<br />
<p>
    @ConexionFormulario
</p>
<p>
    @ConexionServidor
</p>

@code {
    string ConexionServidor = "En espera";
    string ConexionFormulario = "En espera";
    async Task ProbarConexion()
    {
        var respuesta = await Http.GetStringAsync("https://localhost:44377/api/Formulario/ConexionServidor");
        var respuestaFormulario = await Http.GetStringAsync("https://localhost:44377/api/Formulario/ConexionFormulario");

        ConexionServidor = respuesta;
        ConexionFormulario = respuestaFormulario;
    }
    protected override async Task OnInitializedAsync()
    {
        await ProbarConexion();
    }
}
